*{
	padding:0px;
	margin:0px;
	font-family:"微软雅黑";
}
/*#div1{
	width:200px;
	height:200px;
	background:red;
	border:1px solid black;
}*/
/*ul li{
	list-style: none;
}
ul li{
	width:200px;
	height:100px;
	background:yellow;
	margin-bottom:20px;
	filter: alpha(opacity:30);
	opacity:0.3;
	border:1px solid red;
}*/